body {
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 20px;
  }

  .content{
    text-align: center;
    border: 1px solid;
    max-width: 600px;
    padding: 30px;
  }
  .title h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: 2px; 
    text-transform: uppercase; 
  }
  
  .title h2 {
    font-size: 0.8em;
    margin-bottom: 20px;
    color: #006EB6; 
    letter-spacing: 1px;
    text-transform: uppercase;
  }

header h2 {
    color: #006EB6;
}
main p{
    text-align: left;
}
.does-list{
    text-align: left;
}
.logo{
    max-width: 150px;
}