:root {
    --primary-color: #EFC69B;
    --secondary-color: #AF1B3F;
    --accent-color: #473144;
    }

ul{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: end;
    justify-items: end;
    list-style: none;
}

.menu{
    border-bottom:2px solid #EFC69B;
    border-top: 2px solid #EFC69B;
}

.main-grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

header h1{
    color:var(--accent-color)
}

.menu a{
    color:var(--secondary-color)
}


#articles-container {
    display: flex;
    flex-direction: column; 
    gap: 2rem;
  }

.book{
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 1rem;
}

.book-info{
    text-align: right;
    border-right: 2px solid var(--primary-color);
}

.filter {
    border: 2px solid var(--primary-color);
  }